.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    align-items: center;
    height: 12.5rem;
    gap: 8px;
    position: relative;
}

.header img {
    height: 1.5rem;
}

.header p {
    color: var(--purple-dark);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p span {
    color: var(--blue);
}

.newTaskForm {
    position: absolute;
    height: 3.375rem;
    bottom: calc(-3.375rem / 2);
    width: 100%;
    max-width: 46rem;
    display: flex;
    gap: 0.5rem;
    padding: 0 1;
}

.newTaskForm input {
    height: 100%;
    flex: 1;
    color: var(--gray-100);
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 0.5rem;
    padding: 0 1rem;
}

.newTaskForm button[type=submit]::placeholder {
    color: var(--gray-300);
}

.newTaskForm button[type=submit] {
    width: 90px;
    height: 3rem;
    background-color: var(--blue-dark);
    border: none;
    border-radius: 0.5rem;
    color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;

    transition: background-color 0.2s;
}

.newTaskForm button[type=submit]:hover {
    background: var(--blue);
    cursor: pointer;
}

.newTaskForm button:disabled {
    background: var(--blue-darker);
}

.newTaskForm button:disabled:hover {
    background: var(--blue-darker);
    cursor: not-allowed;
}